.calculator-display {
    background: #000;
    border: 1px solid darkgray;
}

.calculator-display p {
    display: flex;
    justify-content: flex-end;
    font-size: 4rem;
    font-family: 'Roboto';
    font-weight: 300;
    padding: 20px;
    margin: auto;
    color: #fff;
}