button {
    height: 80px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 2rem;
    border: 1px solid darkgray;
}

.number {
    background: #fff;
    color: #000;
}

.action {
    font-weight: 300;
}

.operator {
    background: rgb(158, 0, 34);
    color: #fff;
}

.short {
    width: 33.33%;
}

.medium {
    width: 70%;
}

.long {
    width: 100%;
}